/* Gestion des polices
p {
  font-family: Helvetica;
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
}

*/

/* Gestion des zones de texte
p {
  text-align: right;
  text-decoration: underline;
  text-transform: capitalize;
}
*/

/* Gestion des lignes
p {
  line-height: 3;
}
*/
/* Gestion des mots
p {

  word-spacing: 30px;
  word-break: break-all;
  letter-spacing: 20px;
}
*/

/* Box Model
p {
  padding: 10px;
  border: solid 1px;
  margin: 10px;
}
*/
/* Fond d'écran
body {
  background-image : url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/240px-HTML5_logo_and_wordmark.svg.png);
    background-repeat: no-repeat;
  background-position: right top;
  margin-right: 200px;

}
*/

/* Opacité
p:hover {
  opacity: 0.1;
}
*/
