
@media (min-width: 500px) {
    body {
        background-color: yellow;
    }
}

@media (min-width: 700px) {
    body {
        background-color: red;
    }
}

@media (min-width: 900px) {
    body {
        background-color: blue;
    }
}
