.element:nth-child(odd) {
  background-color: tomato;
}

.element:nth-of-type(2) {
  background-color: gold;
}

.element:nth-of-type(3) {
  background-color: hotpink;
}

/* Etape 1 : display: flex */
/* => les éléments se mettent les uns à côté des autres */
/*
.conteneur {
  display: flex;
}
*/

/* Etape 2 : display: flex / flex-wrap: */
/* => les éléments se mettent les uns à côté des autres */
/*
.conteneur {
  display: flex;
  flex-wrap: wrap;
}


/* Etape 3 : Changer la hauteur d'un élément */
/* => la hauteur des autres éléments suivent */
/*
.conteneur {
  display: flex;
}

.element:nth-of-type(1) {
  height: 200px;
}
*/


/* Etape 4 : flex-direction : column */
/* => les éléments se mettent les uns sur les autres */
/*
.conteneur {
  display: flex;
  flex-direction: column;
}
*/

/* Etape 5 : flex-direction: column-reverse */
/* => les éléments se mettent les uns sur les autres dans l'ordre inverse */
/*
.conteneur {
  display: flex;
  flex-direction: column-reverse;
}
*/

/* Etape 6 : justify-content */
/*
.conteneur {
  display: flex;
  justify-content: space-between;
}
*/

/* Etape 7 : item : flex-grow */
/* poids des éléments sur une ligne */
/* => exemple avec tous les éléments avec le même poids */
/*
.conteneur {
  display: flex;
}

.element {
  flex-grow: 1;
}
*/

/* Etape 8 : item :flex-grow */
/* poids des éléments sur une ligne */
/* => exemple avec des poids différents */

.conteneur {
  display: flex;
}

.element:nth-of-type(1) {
  flex-grow: 1;
}

.element:nth-of-type(2) {
  flex-grow: 3;
}

.element:nth-of-type(3) {
  flex-grow: 1;
}


/* Etape 9 : item: flex-basis */
/* exemple avec seul l'élément central a le droit de s'agrandir */
/*
.conteneur {
  display: flex;
}

.element:nth-of-type(1) {
  flex-grow: 0;
  flex-basis: 100px;
}

.element:nth-of-type(2) {
  flex-grow: 1;
  flex-basis: 0;
}

.element:nth-of-type(3) {
  flex-grow: 0;
  flex-basis: 100px;
}
*/

/* Etape 10 : item: flex-shrink */
/* exemple avec seul l'élément central a le droit de se rétrécir */
/*
.conteneur {
  display: flex;
}

.element:nth-of-type(1) {
  flex-grow: 0;
  flex-basis: 100px;
  flex-shrink: 0;
}

.element:nth-of-type(2) {
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: 1;
}

.element:nth-of-type(3) {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100px;
}
*/

/* Etape 11 : item: flex */
/* flex: flex-grow flex-shrink flex-basis */
/* exemple avec seul l'élément central a le droit de se rétrécir */
/*
.conteneur {
  display: flex;
}

.element:nth-of-type(1) {
  flex: 0 0 100px;
}

.element:nth-of-type(2) {
  flex: 1 1 0%;
}

.element:nth-of-type(3) {
  flex: 0 0 100px;
}
*/
