/* sélecteur simple
header {
  font-size: 2em;
}
*/

/* sélecteur multiple
header, footer {
  color: orange;
}
*/

/* propriétés combinées
header {
  border : 1px solid red;
}
*/

/* sélecteur d'attributs
input[type="submit"] {
  color: pink;
}

input[type^="te"] {
  color: green;
}
*/

/* pseudo - hover
form:hover {
  background-color: red;
}
*/

/* pseudo - before
.left-aside:before {
    color:red;
    content: 'du texte depuis css';
}
*/

/* pseudo - after
.left-aside:after {
    color:red;
    content: '\2605';
}
*/

/* pseudo - first-letter
main p:first-letter {
    color:red;
}
*/

/* pseudo - first-line
main p:first-line {
    color:red;
}
*/


/* pseudo - focus
input:focus {
    background-color: blue;
}
*/